:root {
	--main-red: #be3144;
	--main-white: #f0f0f0;
	--main-blue: #45567d;
	--main-gray: #303841;
	--main-black: #000000;
	--main-light-black: #3a3d40;
	--main-dark-black: #181719;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}